.sort-container{
    margin: 2rem 1rem;
    p{
        font-size: $font-5;
        font-weight: 500;
        display: inline-block;
        margin-right: 0.3rem;
    }
    select{
        border: 1px solid $first-color;
        color: $first-color;
        font-size: $font-5;
        font-weight: 500;
        background-color: white;
        padding: 0.4rem;
        outline: none;
    }

    @include mq("sm"){
        margin: 2rem auto;
        max-width: 400px;
    }
    @include mq("md-6"){
        max-width: none;
        margin: 2rem 1rem;
    }
    @include mq("md"){
        max-width: 800px;
        margin: 2rem auto;
        p{
            margin-left: 1rem;
        }

    }
    @include mq("lg"){
        max-width: 1200px;
    }
}