.sort-container{
    margin: 2rem 1rem;
    p{
        font-size: $font-5;
        font-weight: 500;
        display: inline-block;
        margin-right: 0.3rem;
    }
    select{
        border: 1px solid $first-color;
        color: $first-color;
        font-size: $font-5;
        font-weight: 500;
        background-color: white;
        padding: 0.4rem;
        outline: none;
    }
}