.about-hero{
    height: 300px;
    background-image: url(../img/team-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq("md"){
        height: 400px;
    }
    @include mq("lg"){
        height: 500px;
    }
}