.home-view-recipes{
    margin: 0 1rem;
    margin-bottom: 2rem;
    box-shadow: $shadow-b;
    padding-bottom: 1.5rem;
    background-color: white;
    
    h1{
        background-color: $first-color;
        font-size: $font-3;
        color: white;
        text-align: center;
        padding: 0.8rem 1rem;
        font-weight: 500;
        border-radius: 5px 5px 0 0;
    }

    .card{
        transition: $trans-3;
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            cursor: pointer;
            transition: $trans-3;
            margin-top: 1.5rem;
            width: 150px;
            border-radius: 50%;
            border: $border-normal;
        }
        p{
            margin-top: 0.6rem;
            font-size: $font-5;
            font-weight: 500;
        }
    }
    .card:hover{

        img{
            border:4px solid $first-color;
        }
    }
}