.home-select-program{
    margin: 0 1rem;
    margin-bottom: 2rem;
    box-shadow: $shadow-b;
    padding-bottom: 1.5rem;
    background-color: white;
    h1{
        background-color: $first-color;
        font-size: $font-3;
        color: white;
        text-align: center;
        padding: 0.8rem 1rem;
        font-weight: 500;
        border-radius: 5px 5px 0 0;
    }

    .card{
        padding: 0 1rem;
        p{
            color: $black;
            padding: 1rem 0;
            line-height: 1.7rem;
            text-align: center;
        }
    
        a{
            width: 100%;
            border-radius: 5px;
            font-weight: 500;
            text-align: center;
            background-color: $black;
            padding: .6rem 0;
        }
        a:hover{
            background-color: $second-color;
        }
    }
}