.home-nav{
    position: absolute;
    top: 4.7rem;
    right: -100%;
    opacity: 0;
    transition: 0.5s all;
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 1rem;
    a{
        color: $black;
        display: block;
        padding-bottom: 1rem;
        text-align: center;
        transition: $trans-3;
    }
    // .fa-heart{
    //     margin-right: 0.3rem;
    // }
    // .fa-shopping-cart{
    //     margin-right: 0.3rem;
    // }

    .user-details{
        display: none;
    }
    a:hover{
        color: $second-color;
    }
    a:last-of-type{
        padding: 0.7rem 0;
        color: white;
    }
    a:last-of-type:hover{
        color: white;
    }

    @include mq("md"){
        opacity: 1;
        position: unset;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        right: 0;
        margin: 0;
        padding: 0;
        gap: 1rem;
        margin-right: 0.5rem;
        a{
            font-size: $font-5;
            padding: 0;
        }
        .register-btn{
            display: none;
        }
        .fa-shopping-cart{
            display: inline-block;
            cursor: pointer;
            color: $first-color;
            font-size: $font-3;
            transition: $trans-3;
        }
        .user-details{
            display: inline-block;
            cursor: pointer;
            color: $first-color;
            font-size: $font-3;
            transition: $trans-3;
        }
        .favorite-btn{
            display: inline-block;
            cursor: pointer;
            color: $first-color;
            font-size: $font-3;
            transition: $trans-3;
        }
        .register-btn{
            padding: 0.3rem 1.5rem !important;
            background-color: transparent;
            color: $first-color !important;
            border: 2px solid $first-color;
        }
        .register-btn:hover{
            background-color: $first-color;
            color: white !important;
        }
    }

    @include mq("lg"){

        .register-btn{
            padding: 0.3rem 2rem !important;
        }
    }
}