.footer-body{
    padding: 1rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    border-bottom: 1px solid white;
        .col{
            display: flex;
            flex-direction: column;
            h3{
                font-size: $font-5;
                padding-bottom: 0.5rem;
            }

            a{
                transition: $trans-3;
                color: white;
                font-weight: 300;
                padding-bottom: 0.2rem;
                font-size: $font-5;

            }
            a:hover{
                color: $second-color;
            }
            
        }

    @include mq("sm"){
        justify-items: center;
        .col{
            width: 130px;
        }
    }

    @include mq("md"){
        max-width: 800px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        border-bottom: none;
    }

    @include mq("lg"){
        max-width: 1100px;
        margin: 0 auto;
    }
}