.how-it-works{
    padding: 0 1.5rem;
    color: $black;

    .container{
        padding-bottom: $space-3;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: $space-2;

        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            img{
                width: 70px;
            }

            h3{
                font-size: $font-4;
                padding-top: $space-1;
            }
            .corectie{
                padding-top: 0.3rem;
            }

            p{
                padding-top: $space-0;
                text-align: center;
                font-size: $font-5;
                line-height: 1.4rem;
            }

        }
        
    }

    @include mq("sm"){

        .container{
            
            .card{
                

                p{
                    width: 250px;
                }
            }
        }
    }

    @include mq("md"){

        .container{
            margin: 0 auto;
            max-width: 800px;
            grid-template-columns: 1fr 1fr 1fr;
            .card{
                height: 240px;
                h3{
                    font-size: $font-3;
                }
                h3:last-of-type{
                    padding: 0.3rem;
                }

                p{
                    font-size: $font-4;
                    width: 180px;
                }
            }
        }
    }

    @include mq("lg"){

        .container{
            max-width: 1100px;
            .card{
                
            }
        }
    }
}