.programs-hero{
    height: 250px;
    background-image: url(../img/programs-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        color: white;
        font-size: 2rem;
    }
    
}