.programs{
    margin: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    .card{
        cursor: pointer;
        border: 1px solid $first-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: $trans-3;
        background-color: white;
        
        h3{
            padding: 2rem 0;
        }
        h1{
            color: $first-color;
        }
        h4{
            color: $first-color;
            font-weight: 400;
        }
        a{
            padding: 0.7rem 0;
            width: 100%;
            margin: 0;
            text-align: center;
        }
        .premium{

            i{
                margin-top: 0.1rem;
                margin-right: 0.2rem;
            }
        }

        .benefits{
            padding: 1.2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .benefit{
                display: flex;
                align-items: center;
                padding: 0.4rem 0;
                i{
                    color: $first-color;
                    margin-right: 0.5rem;
                }
                p{
                    font-size: $font-5;
                }
               
            }
        }

        
    }

    .polular-card{
        border: 1px solid $second-color;

        h1{
            color: $second-color;
        }
        h4{
            color: $second-color;
        }

        .benefits{

            .benefit{
                i{
                    color: $second-color;
                }
            }
        }

        a{
            background-color: $second-color;
        }
    }

    .card:hover{
        border: 1px solid $second-color;
        background-color: rgba(175, 175, 175, 0.178);
        h1{
            color: $second-color;
        }
        h4{
            color: $second-color;
        }

        .benefits{

            .benefit{
                i{
                    color: $second-color;
                }
            }
        }

        a{
            background-color: $second-color;
        }
    }
}