.programs{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    max-width: 500px;
    margin: 4rem auto;
    .card{
        margin: 0 1rem;
        cursor: pointer;
        border: 1px solid $first-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: $trans-3;
        background-color: white;
        
        h3{
            text-align: center;
            padding: 2rem 0;
        }
        h1{
            text-align: center;
            color: $first-color;
        }
        h4{
            text-align: center;
            color: $first-color;
            font-weight: 400;
        }
        a{
            padding: 0.7rem 0;
            width: 100%;
            margin: 0;
            text-align: center;
            margin-top: auto;
        }
        .premium{

            i{
                margin-top: 0.1rem;
                margin-right: 0.2rem;
            }
        }

        .benefits{
            padding: 1.2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .benefit{
                display: flex;
                align-items: center;
                padding: 0.4rem 0;
                i{
                    color: $first-color;
                    margin-right: 0.5rem;
                }
                p{
                    font-size: $font-5;
                }
               
            }
        }

        
    }

    .polular-card{
        border: 1px solid $second-color;

        h1{
            color: $second-color;
        }
        h4{
            color: $second-color;
        }

        .benefits{

            .benefit{
                i{
                    color: $second-color;
                }
            }
        }

        a{
            background-color: $second-color;
        }
    }

    .card:hover{
        border: 1px solid $second-color;
        background-color: rgba(175, 175, 175, 0.178);
        h1{
            color: $second-color;
        }
        h4{
            color: $second-color;
        }

        .benefits{

            .benefit{
                i{
                    color: $second-color;
                }
            }
        }

        a{
            background-color: $second-color;
        }
    }

    @include mq("md"){
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "card1 card2"
                             "card3 card3";
        max-width: 800px;

        .card1{
            grid-area: card1;
        }
        .polular-card{
            grid-area: card2;
        }
        .card3{
            grid-area: card3;
        }

    }
    @include mq("lg"){
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "card1 card2 card3";
        max-width: 1200px;
    }
}