.recommendation{
    margin: 0 1rem;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 3rem;
    h2{
        text-align: center;
        color: $black;
        font-weight: 400;
        font-size: $font-3;
        padding-bottom: 0.4rem;
        background-color: white;
        margin: 0 1rem;
        padding: 1.2rem 0;
        margin-bottom: 0.3rem;
        box-shadow: $shadow-b;
    }

    .container{
        border-top: 1px solid #e0e0e0;
        background-color: white;
        padding: 0.5rem 0;
        padding-bottom: 2rem;
        margin: 0 1rem;
        box-shadow: $shadow-b;
        .flex{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            margin-top: 1.5rem;
            width: 300px;
            i{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                transition: $trans-3;
                color: white;
                background-color: $black;
                font-size: 2rem;
                margin-bottom: 1rem;
            }
            i:hover{
                background-color: $first-color;
            }

            p{
                line-height: 1.7rem;
                color: $black;
                text-align: center;
            }
        }
    }


    @include mq("md"){
        max-width: 800px;
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .flex{
                width: auto;
                padding: 0.5rem 1.5rem;
            }
        }
    }

    @include mq("lg"){
        max-width: 1200px;
    }
}