.header-home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $space-light 0;
    border-bottom: 1px solid rgba(78, 78, 78, 0.109);
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: $shadow-b;

    .icons{
        .fa-bars{
            cursor: pointer;
            color: $first-color;
            margin-right: 0.7rem;
            font-size: $font-2;
            transition: $trans-3;
        }
        .fa-bars:hover{
            color: $second-color;
        }
    
        .fa-times{
            margin-right: 0.7rem;
            cursor: pointer;
            color: $first-color;
            font-size: $font-2;
            transition: $trans-3;
        }
        .fa-times:hover{
            color: $second-color;
        }
    
        .fa-user{
            margin-right: 0.3rem;
            cursor: pointer;
            color: $first-color;
            font-size: $font-2;
            transition: $trans-3;
        }
        .fa-user:hover{
            color: $second-color;
        }
    
        .fa-heart{
            margin-right: 0.3rem;
            cursor: pointer;
            color: $first-color;
            font-size: $font-2;
            transition: $trans-3;
        }
        .fa-heart:hover{
            color: $second-color;
        }
    }
    

    @include mq("md"){
        
        padding: 0.3rem 1.5rem;
        .brand{
            width: 100%;
        }
        
        .icons{

            i{
                display: none;
            }
        }
    }

    
}