
.register{
    padding: 0 1rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    text-align: center;
    width: 100%;
    max-width: 500px;
    h1{
        font-weight: 500;
        font-size: 2rem;
        background-color: $first-color;
        border-radius: 10px 10px 0 0;
        padding: 1.5rem 0;
        color: white;
    }
    .container{
        height: 550px;
        box-shadow: $shadow-1;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 0 10px 10px;

        .register-body{
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input{
                background-color: rgba(235, 235, 235, 0.63);
                width: 100%;
                border-radius: 15px;
                padding: 0.5rem 1.5rem;
                color: $first-color;
                border: none;
            }
            input::placeholder{
                font-size: 1rem;
            }
            a{
                font-size: 1rem;
                padding-top: 0.5rem;
               color: $first-color;
               margin-left: auto;
               transition: $trans-3;
            }
            a:hover{
                color: $second-color;
            }

            .login-btn{
                text-align: center;
                font-weight: 500;
                margin-left: 0;
                margin-top: 1.5rem;
                border-radius: 30px;
                background-color: $first-color;
                color: white;
                padding: 0.7rem 1.5rem;
                width: 100%;
            }
            .login-btn:hover{
                color: white;
                background-color: $second-color;
            }
        }

        .register-footer{

            p{
                font-size: 1rem;
                color: $black;
                padding: 0.5rem 0 ;
            }

            a{
                display: inline-block;
                color: $first-color;
                font-size: 0.9rem;
                font-weight: 600;
                margin-bottom: 2rem;
                transition: $trans-3;
            }
            a:hover{
                color: $second-color;
            }
        }
    }

    @include mq("md"){
        margin-top: 4rem;
    }
}